/* body page */
body{
	background-color: #9e9e9e;
}


/* main container */
.keyboard-container{
	background-color: silver;
	border: 2px solid black;	
}


.keyboard-column-right a{
	color: cyan;
}


.keyboard-column-right a:hover{
	color: silver;
}


.kbd-key{
	background-color: gray;
	border: 2px solid black;
	box-shadow: 2px 2px 2px cyan; 
	color: cyan;	
}


.kbd-key:hover{
	opacity: 0.5;	
}


/* W,A,S,D keys */
#game1, #game2, #game3, #game4{
	background-color: darkcyan;
}


/* input enter key + input delete key + input caps lock*/
#etr, #backspc, #bcl{
	background-color: gray;
}


/* input power key + esc + wind */
#power-on-off, #esc, #wind{
	background-color: gray;
}


/* input switch mod */
#md{
	background-color: gray;

}

/* area text */
textarea {
	background-color: silver;
    box-shadow: 5px 5px 5px darkcyan;
}