/* body page */
body{
	background-color: #303030;
}


/* main container */
.keyboard-container{
	background-color: black;
	border: 2px solid gray;
	box-shadow: 5px 5px 5px gray;
}


/* right column links */
.keyboard-column-right a{
	color: white;	
}



.keyboard-column-right a:hover{
	color: silver;
}


.kbd-key, .kbd-key2, .kbd-key3{
	background-color: black;
	opacity: 0.5;
	border: 2px solid gray;
	box-shadow: 2px 2px 2px white; 
	color: white;
}


.kbd-key:hover, .kbd-key2:hover, .kbd-key3:hover{
	opacity: 1;	
}

/* iframes main container */
.keyboard-container a, i{
	align-self:center;
	color: white;	

}


/* W,A,S,D keys */
#game1, #game2, #game3, #game4{
	background-color: gray;
}


/* input enter key + input delete key + input caps lock*/
#etr, #backspc, #blck{
	background-color: black;

}


/* input power key + esc + wind */
#power-on-off, #esc, #wind{
	background-color: black;
}


/* input switch mod */
#md{
	background-color: black;
}

/* text enter key */
#penter{
	color: white;
}

/* DeleteAll Key */
#deleteall{
	color: white;
}


/* area text */
textarea {
	background-color: black;
	color: white;
    border: 2px solid gray;
    box-shadow: 5px 5px 5px gray;
}