/* body page */
body{
	text-align: center;
}

/* main container */
.keyboard-container{
	border-radius: 4px;
	border: 2px solid black;
	width: 50%;
	margin-left: 25%;
	
}

/* right column links */
.keyboard-column-right{
	display: inline-flex;
	margin-left: 92%;
	margin-right: 5px;
	
}

.keyboard-column-right a{
	text-decoration: none;
	
}


/* left column keys */
.keyboard-column-left{
	margin-top: -25%;
	margin-left: -5%;
}


/*Keys of main container */
.keyboard-row-1, .keyboard-row-2, .keyboard-row-3, .keyboard-row-4, .keyboard-row-5{
	display: inline-flex;
}

.keyboard-row-2{
	margin-left: -13%;
}
	

.keyboard-row-5{
	margin-left: -5px;
	margin-bottom: 60px;
}

.kbd-key{
	display: grid;
	border-radius: 4px;
	border: 2px solid black;
	width: 50px;
	height: 50px;
	color: black;
	margin-top: 5px;
	margin-left: 5px;
}

.kbd-key:hover{
	opacity: 0.5;	
}


/* big keys */
#backspaced, #enter, #lock, #tab, #shift{
	width: 120px;
	height: 50px;
}

/* capslock key */
#lock{
	margin-left: -6px;	
	margin-right: 5px;
}

/* spacebar key */
#spacebar{
	width: 300px;
	height: 50px;
}


/* mod key */
#mod{
	width: 100px;
	height: 50px;
}

/* up arrow */
#up{
	margin-left: 48px;
}


/* left arrow */
#left{
	margin-left: 26px;
}


/* iframes main container */
.keyboard-container a, i{
	align-self:center;

}


/* title */
h1, #pheader, #pfooter{
	font-family: 'Arial';
}


/* input enter key + input delete key + input caps lock*/
#etr, #backspc, #bcl{
	width: 120px;
	height: 50px;
}

/* image caps lock */
#greenled{
	margin-top: -37%;
	margin-left: 85%;
}


/* iframe caps lock */
#block{
	margin-top: -50%;
}


/* input power key + esc + wind */
#power-on-off, #esc, #wind{
	width: 50px;
	height: 50px;
}

/* iframe power key */
#on-off{
	margin-top: -50px;

}


/* input switch mod */
#md{
	width: 100px;
	height: 50px;
}


/* iframe mod key */
#adjustmd{
	margin-top: -50%;
}



/* iframe arrow enter */
#arrowenter{
	margin-top: -60%;
}


/* text enter key */
#penter{
	margin-top: -20%;
}


/* text escap key */
#pesc{
	margin-top: -65%;

}


/* iframe delete key */
#bkspc{
	margin-top: -45%;
}


/* iframe windows key */
#wds{
	margin-top: -50px;
}


/* area text */
textarea {
	margin-top: 20px;
	margin-bottom: 10px;
    font-size: .8rem;
    letter-spacing: 1px;
    line-height: 1.5;
    border-radius: 5px;
    border: 2px solid black;
   
}

@media screen (min-width: 320px) {
  .keyboard-container{
  	width: auto;
   	margin-left: 25%;
  }
}